USE QlyBenhVien
GO
select * from Admin
CREATE DATABASE [QlyBenhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QlyBenhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QlyBenhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QlyBenhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QlyBenhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QlyBenhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QlyBenhVien]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/2/2024 11:33:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BacSi]    Script Date: 7/2/2024 11:33:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BacSi](
	[IdBacSi] [uniqueidentifier] NOT NULL,
	[TenBacSi] [nvarchar](100) NOT NULL,
	[NamKinhNghiem] [int] NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[MoTaBacSi] [nvarchar](max) NULL,
	[KhoaId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBacSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenhNhan]    Script Date: 7/2/2024 11:33:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhan](
	[IdBenhNhan] [uniqueidentifier] NOT NULL,
	[HoTenBenhNhan] [nvarchar](100) NOT NULL,
	[TenBenh] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SoDienThoai] [nvarchar](15) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatLich]    Script Date: 7/2/2024 11:33:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatLich](
	[IdDatLich] [uniqueidentifier] NOT NULL,
	[BenhNhanId] [uniqueidentifier] NOT NULL,
	[BacSiId] [uniqueidentifier] NOT NULL,
	[NgayDatLich] [date] NOT NULL,
	[NgayHenKham] [date] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDatLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 7/2/2024 11:33:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[IdKhoa] [uniqueidentifier] NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BacSi] ADD  DEFAULT (newid()) FOR [IdBacSi]
GO
ALTER TABLE [dbo].[BenhNhan] ADD  DEFAULT (newid()) FOR [IdBenhNhan]
GO
ALTER TABLE [dbo].[DatLich] ADD  DEFAULT (newid()) FOR [IdDatLich]
GO
ALTER TABLE [dbo].[Khoa] ADD  DEFAULT (newid()) FOR [IdKhoa]
GO
ALTER TABLE [dbo].[BacSi]  WITH CHECK ADD FOREIGN KEY([KhoaId])
REFERENCES [dbo].[Khoa] ([IdKhoa])
GO
ALTER TABLE [dbo].[DatLich]  WITH CHECK ADD FOREIGN KEY([BacSiId])
REFERENCES [dbo].[BacSi] ([IdBacSi])
GO
ALTER TABLE [dbo].[DatLich]  WITH CHECK ADD FOREIGN KEY([BenhNhanId])
REFERENCES [dbo].[BenhNhan] ([IdBenhNhan])
GO
USE [master]
GO
